<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ratings</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="has-navbar-fixed-top d-flex flex-column min-vh-100">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-mobile-top">
        <a href="/" class="navbar-item nav-link">Home</a>
        <div class="navbar-end">
            <div class="navbar-item">
                {{#if logged_in}}
                    {{#if isAdmin}}
                        <a href="/admin" class="nav-link admin-link">Admin Dashboard</a>
                    {{/if}}
                    <a href="/user/my-ratings" class="nav-link">My Ratings</a>
                    <button id="logout" class="nav-link">Logout</button>
                {{else}}
                    <a href="/auth/login" class="nav-link">Log in</a>
                {{/if}}
            </div>
        </div>
    </div>

    <div class="navbar-brand is-flex-grow-1">
        <div class="navbar-item site-title-container">
            <span class="site-title"> <span class="title-text">Movie Ratings</span> <span class="powered-by">POWERED BY</span></span>
            <img src="/images/static/tmdblogo.svg" alt="TMDB Logo" class="tmdb-logo">
        </div>
    </div>
</nav>

    <main class="flex-grow-1">
        {{{body}}}
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                This product uses the TMDB API but is not endorsed or certified by TMDB.
            </p>
            <p>
                Movie Ratings App was designed in 2024 by Kent Ball.
                <a href="https://spectacular-kitsune-fb2d4e.netlify.app" target="_blank" rel="noopener noreferrer">
                    Visit my portfolio here
                </a>
            </p>
        </div>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
    
    <script src="/js/search.js"></script>
</body>
</html>