<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <div class="notification is-danger">
                <h1 class="title">{{title}}</h1>
                <p>{{message}}</p>
                <a href="/" class="button is-light mt-4">Return to Home</a>
            </div>
        </div>
    </div>
</div>